@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap");

* {
  font-family: "Original Surfer", cursive;
}
// -------Header---------

.home-link {
  color: white;
  text-decoration: none;
}
.home-link:hover {
  color: white;
  text-decoration: none;
}

.header-container {
  height: 30%;
  //   background-color: rgb(249, 210, 53);
  background-image: linear-gradient(
    to right,
    rgb(48, 112, 250),
    rgb(160, 80, 252)
  );
  color: rgb(255, 255, 255);
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}

// -------Home--------

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

// -----Index-Page-----

.index-container {
  flex-direction: column;
  justify-content: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
}

.dropdown-container {
  width: 400px;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(48, 112, 250);
  border: 10px solid rgb(160, 80, 252);
  justify-content: space-around;
  align-items: center;
  display: flex;
  border-radius: 5%;
  padding: 3%;
}

.menu-header {
  color: white;
}

//--------SHOW PAGE--------------

.show-container {
  flex-direction: column;
  justify-content: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
}

.question-container {
  max-width: 600px;
  flex-direction: column;
  background-color: rgb(48, 112, 250);
  color: white;
  align-items: center;
  display: flex;
  border-radius: 20px;
  padding: 3%;
  border: 10px solid rgb(160, 80, 252);
}

.score-lives-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 3px solid orange;
  margin-bottom: 30px;
}

.score-lives {
}

.question-answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.choices-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: auto;
  align-self: auto;
  margin-top: 10px;
}

.btn-secondary {
  color: #fff;
  background-color: #dead1c;
  border-color: #dead1c;
}

.toast-header {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  color: #3ca745;
  background-color: #f8f9fa;
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

element.style {
}

.modal-header {
  background-color: #28a745;
  color: white;
}
.modal-body {
  background-color: #28a745;
  color: white;
}
.modal-footer {
  background-color: #28a745;
  color: white;
}

.loser-modal {
  background-color: #c70202;
  color: white;
}
